body, html {
    background: #ecf0f1;
    font-family: Roboto,Helvetica,Arial;
    width:100vw;
    height:100vh;
    overflow: hidden;
    padding:0;
    margin: 0;
}  

button:focus{
    border:none;
    box-shadow: none;
}

@keyframes splash {
    0% {opacity: 1;visibility: visible;}
    50% {opacity: 1;visibility: visible;}
    99% {opacity: 0;visibility: visible;}
    100% {opacity: 0;visibility: hidden;}

}

#splash-screen{
    position: absolute;
    width:100vw;
    height:100vh;
    background: #ecf0f1;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation-name: splash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#splash-screen img {
    margin-top: calc((50vh - 125px));
}

@keyframes mouth {
    0% {transform: scale(1,1)}
    25% {transform: scale(1,1.7)}
    50% {transform: scale(1,1.3)}
    75% {transform: scale(1,2)}
    100% {transform: scale(1,1)}

}

@keyframes jiggle {
    0% {margin-top:0px}
    50% {margin-top:10px}
    100% {margin-top:0px}

}

#narrator{
height: 100%;
overflow: hidden;
display: inline-block;
    
}

#narrator img {
    height: 100%;
width: auto;
}

#narrator-face {
    position: relative;
height: 100%;
display: inline-block;
}
#narrator #narrator-mouth {
    width: 15%;
    opacity: 0.5;
    background: black;
    height: 3%;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
    top: 71%;
    left: 44%;
}

#menu-container {
    display: block;
    background: url('../img/background.png');
background-repeat: repeat;
background-size: 500px;
    height: 100vh;
    width: 100vw;
}

#menu-title {
    width:100%;
    text-align:center;
}
#menu-title h1 {
    background: url('../img/ribbon.png') 0% 0% / 100% 100%;
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: text-top;
    padding-bottom: 25px;
}
#menu-buttons {
    padding-left:25px;
    padding-right:25px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 118px);
}

#menu-buttons button {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    animation: jiggle;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#menu-buttons button img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 8;
    top: 49px;
    left: 25px;
    margin-left: 25px;
    border-radius: 10px;
    transform: rotate(5deg);
    box-shadow: 0px 0px 40px 1px white;
}

#menu-buttons button div {
    background: url('../img/cloud.png') 0% 0% / 100% 100%no-repeat;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 130px;
    top: 74px;
    left: 0px;
    line-height: 193px;
    font-size: 20px;
    color: #95a5a6;
}

#game-container {
    display: none;
    width:100vw;
    height:100vh;
}

#game-container #story-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}


@media only screen and (min-height: 800px) {
    #story-container #top-container {
        height: 130px;
        overflow: hidden;
        background: url('../img/wood-background.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
    }

    #story-container #bottom-container {
        height: 130px;
        width: 100%;
        margin: 0;
        padding: 0;
        background: url('../img/wood-background.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
    }
    
    #top-container #btn-top-left{
        height: 130px;
        position: relative;
        float: left;
        width: 130px;
        padding:0;
        border: none;
        cursor: pointer;
    }
    
    
    #bottom-container #btn-bottom-right{
        height: 130px;
        position: relative;
        float: left;
        width: 130px;
        padding:0;
        border: none;
        cursor: pointer;
    }
    
    
    #elements_container {
        position: relative;
        text-align: left;
        width: calc(100% - 130px);
        overflow-y: hidden;
        overflow-x: auto;
        height: 120px;
        padding-bottom: 5px;
        padding-top: 5px;
        white-space: nowrap;
    }


    #answers_container {
        position: relative;
        text-align: left;
        width: calc(100% - 130px);
        height: 130px;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        float:left;
    }

    #playground-container {
        height: calc(100% - 260px);
        background: url('../img/background-playground.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
        text-align: center;
    }

    .drag {
        display:inline-block;
        margin-left:5px;
        box-sizing: border-box;
        overflow: hidden;
        cursor:pointer;
    }

    .drag img {
        width:120px; height:120px;
        vertical-align: top;
    }

    .drag.error div {
        color:white;
        background: #e74c3c;
    }

    .drag div {
        position:relative;
        background: #ecf0f1;
        margin:0;
        padding:0;
        margin-top: -20px;
        height:20px;
        text-align:center;
        font-weight:bold;
        color:black;
        font-size: 20px;
        line-height: 20px;
    }

    .slot {
        display: inline-block;
        height: 120px;
        margin-left: 5px;
        overflow: hidden;
        padding: 0;
    }

    .slot .drag{
        margin:0;
    }

    .slot>p {
        line-height: 120px;
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        color:white;
    }

    .drop {
        background: #bdc3c7; 
        width: 120px;
    }
}



@media only screen and (min-height: 500px) and (max-height: 800px) {
    #story-container #top-container {
        height: 90px;
        overflow: hidden;
        background: url('../img/wood-background.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
    }

    #story-container #bottom-container {
        height: 90px;
        width: 100%;
        margin: 0;
        padding: 0;
        background: url('../img/wood-background.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
    }
    
    #top-container #btn-top-left{
        height: 90px;
        position: relative;
        float: left;
        width: 90px;
        padding:0;
        border: none;
        cursor: pointer;
    }
    
    
    #bottom-container #btn-bottom-right{
        height: 90px;
        position: relative;
        float: left;
        width: 90px;
        padding:0;
        border: none;
        cursor: pointer;
    }
    
    
    #elements_container {
        position: relative;
        text-align: left;
        width: calc(100% - 90px);
        overflow-y: hidden;
        overflow-x: auto;
        height: 90px;
        padding-bottom: 5px;
        padding-top: 5px;
        white-space: nowrap;
    }


    #answers_container {
        position: relative;
        text-align: left;
        width: calc(100% - 90px);
        height: 90px;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        float:left;
    }

    #playground-container {
        height: calc(100% - 180px);
        background: url('../img/background-playground.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
        text-align: center;
    }

    .drag {
        display:inline-block;
        margin-left:5px;
        box-sizing: border-box;
        overflow: hidden;
        cursor:pointer;
    }

    .drag img {
        width:80px; height:80px;
        vertical-align: top;
    }

    .drag.error div {
        color:white;
        background: #e74c3c;
    }

    .drag div {
        position:relative;
        background: #ecf0f1;
        margin:0;
        padding:0;
        margin-top: -20px;
        height:20px;
        text-align:center;
        font-weight:bold;
        color:black;
        font-size: 15px;
        line-height: 20px;
    }

    .slot {
        display: inline-block;
        height: 80px;
        margin-left: 5px;
        overflow: hidden;
        padding: 0;
    }

    .slot .drag{
        margin:0;
    }

    .slot>p {
        line-height: 80px;
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        color:white;
    }

    .drop {
        background: #bdc3c7; 
        width: 80px;
    }
}


@media only screen and (max-height: 500px) {
    #story-container #top-container {
        height: 60px;
        overflow: hidden;
        background: url('../img/wood-background.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
    }

    #story-container #bottom-container {
        height: 60px;
        width: 100%;
        margin: 0;
        padding: 0;
        background: url('../img/wood-background.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
    }
    
    #top-container #btn-top-left{
        height: 60px;
        position: relative;
        float: left;
        width: 60px;
        padding:0;
        border: none;
        cursor: pointer;
    }
    
    
    #bottom-container #btn-bottom-right{
        height: 60px;
        position: relative;
        float: left;
        width: 60px;
        padding:0;
        border: none;
        cursor: pointer;
    }
    
    
    #elements_container {
        position: relative;
        text-align: left;
        width: calc(100% - 60px);
        overflow-y: hidden;
        overflow-x: auto;
        height: 60px;
        padding-bottom: 5px;
        padding-top: 5px;
        white-space: nowrap;
    }


    #answers_container {
        position: relative;
        text-align: left;
        width: calc(100% - 60px);
        height: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        float:left;
    }

    #playground-container {
        height: calc(100% - 120px);
        background: url('../img/background-playground.png');
        background-repeat: repeat-x;
        background-size: auto 100%;
        text-align: center;
    }

    .drag {
        display:inline-block;
        margin-left:5px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
    }

    .drag img {
        width:50px; height:50px;
        vertical-align: top;
    }

    .drag.error div {
        color:white;
        background: #e74c3c;
    }

    .drag div {
        position:relative;
        background: #ecf0f1;
        margin:0;
        padding:0;
        margin-top: -20px;
        height:20px;
        text-align:center;
        font-weight:bold;
        color:black;
        font-size: 10px;
        line-height: 20px;
    }

    .slot {
        display: inline-block;
        height: 50px;
        margin-left: 5px;
        overflow: hidden;
        padding: 0;
    }

    .slot .drag{
        margin:0;
    }

    .slot>p {
        line-height: 50px;
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color:white;
    }

    .drop {
        background: #bdc3c7; 
        width: 50px;
    }
}


#top-container #btn-top-left img {
    width:100%;
    height: 100%;
}

#bottom-container #btn-bottom-right img {
    width:100%;
    height: 100%;
}
