@font-face {
    font-family: 'Grand Hotel';
    src: url('../fonts/grandhotel-regular.eot');
    src: url('../fonts/grandhotel-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/grandhotel-regular.woff2') format('woff2'),
         url('../fonts/grandhotel-regular.woff') format('woff'),
         url('../fonts/grandhotel-regular.ttf') format('truetype'),
         url('../fonts/grandhotel-regular.svg#grand_hotelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
    background: #ecf0f1;
    font-family: 'Grand Hotel',Helvetica,Arial;
    width:100vw;
    height:100vh;
    overflow: hidden;
    padding:0;
    margin: 0;
}  

button:focus{
    outline:0;
}

@keyframes splash {
    0% {opacity: 1;visibility: visible;}
    50% {opacity: 1;visibility: visible;}
    99% {opacity: 0;visibility: visible;}
    100% {opacity: 0;visibility: hidden;}

}

@keyframes curtain-left {
    0% {left:-70vw;}
    50% {left: -10vw;}
    100% {left:-70vw;}
}

@keyframes curtain-right {
    0% {right:-70vw;}
    50% {right: -10vw;}
    100% {right: -70vw;}
}

#splash-screen{
    position: absolute;
    width:100vw;
    height:100vh;
    background: #ecf0f1;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation-name: splash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#splash-screen img {
    margin-top: calc((50vh - 125px));
}


#bravo{
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: #479cc4;
    text-align: center;
}

#bravo img {
    height:80vh;
    margin-top:10vh;
}

#transition{
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
}

#transition #left-curtain, #transition #right-curtain {
    width: 70vw;
    height: 100vh;
    position: absolute;
        background: url(../img/cloud-curtain.png);
    background-repeat: repeat;
    background-size: 100% 50.1%;
}

#transition #left-curtain {
    left:-70vw;
    animation-duration: 5s;
    animation-iteration-count: 1;
    
    //animation-delay: 5s;
    //animation-name: curtain-left;
}

#transition #right-curtain {
    right:-70vw;
    animation-duration: 5s;
    animation-iteration-count: 1;
    //animation-delay: 5s;
    //animation-name: curtain-right;
}

@keyframes mouth {
    0% {height: 4.3%}
    25% {height: 0%}
    50% {height: 4.3%}
    75% {height: 0%}
    100% {height: 4.3%}

}

@keyframes jiggle {
    0% {transform: translate(0px,0px);}
    50% {transform: translate(0px,10px);}
    100% {transform: translate(0px,0px);}
}

#narrator{
        height: 80%;
float: left;
overflow: hidden;
margin-left: 5%;
position: absolute;
bottom: 0;
z-index: 2;
}

#narrator img {
    height: 100%;
    width: auto;
}

#narrator-face {
    position: relative;
    height: 100%;
    display: inline-block;
}
#narrator #narrator-mouth {
width: 15%;
opacity: 1;
height: 4.3%;
animation-duration: 1s;
animation-iteration-count: infinite;
position: absolute;
border-radius: 50%;
z-index: 5;
top: 62%;
left: 58.1%;
overflow: hidden;
}

#narrator #narrator-mouth img{
    width:100%;
    height: 100%;
}

#menu-container {
    display: block;
    background: url('../img/background.png');
    background-repeat: repeat;
    background-size: 350px;
    height: 100vh;
    width: 100vw;
}

#menu-container h1 {
    position: absolute;
    background: url('../img/ribbon.png') 0% 0% / 100% 100%;
    display: inline-block;
    color: white;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: text-top;
    padding-bottom: 50px;
    left: calc(50% - 125px);
    z-index: 998;
    font-weight: 200;
    top: -35px;
}

#menu-buttons {
    padding-left: 25px;
padding-right: 25px;
text-align: center;
overflow-y: auto;
overflow-x: hidden;
height: calc(100% - 150px);
padding-top: 150px;
}

#menu-buttons button {
    display: inline-block;
cursor: pointer;
border: none;
background: none;
width: 220px;
height: 272px;
overflow: hidden;
padding: 0;
position: relative;
margin-top: 0px;
margin-left: 25px;
margin-right: 25px;
animation: jiggle;
animation-delay: 0s;
animation-duration: 2s;
animation-iteration-count: infinite;
}

#menu-buttons button.disabled {
    opacity: 0.7;
    cursor: default;
}

#menu-buttons button .story-image {
    width: 150px;
height: 150px;
position: absolute;
z-index: 8;
top: 49px;
left: 25px;
margin-left: 25px;
border-radius: 10px;
transform: rotate(5deg);
box-shadow: -5px 30px 0px 5px rgba(0,0,0,0.5);
border: 3px solid white;
box-sizing: border-box;
background: white;
}

#menu-buttons button .story-check {
    width: 50px;
    position: absolute;
    top: 30px;
    right: 0px;
    background: rgba(46, 204, 113,1.0);
    border-radius: 50%;
    z-index: 9;
    display: none;
}

#menu-buttons button.finished .story-check{
    display: block;
}

#menu-buttons button .story-check img {
    width: 100%;
    height: 100%;
}

#menu-buttons button .story-name {
    background: url('../img/cloud.png') 0% 0% / 100% 100%no-repeat;
position: relative;
z-index: 9;
width: 100%;
height: 136px;
top: 65px;
left: 0px;
line-height: 159px;
font-size: 28px;
color: black;
font-weight: 200;
font-family: 'Grand Hotel';
}

#game-container {
    display: none;
    width:100vw;
    height:100vh;
}

#game-container #story-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#story-container #top-container {
    overflow: hidden;
    background: url('../img/shelf.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#story-container #bottom-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/background-sentence.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#bottom-container #btn-bottom-right{
    position: relative;
    float: left;
    padding:0;
    border: none;
    cursor: pointer;
    background: #5e2a11;
}

#elements_container {
position: absolute;
text-align: left;
overflow-y: hidden;
overflow-x: auto;
padding-bottom: 5px;
padding-top: 5px;
display: inline-block;
background: url('../img/background-shelf.png');
background-position: center;
background-size: 100% 100%;
padding-left: 30px;
box-sizing: border-box;
right: 101px;
    }


    #answers_container {
        position: relative;
        text-align: left;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        float:left;
        border-right: 2px solid black;
        border-left: 2px solid black;
        box-sizing: border-box;
        height: 100%;
    }

    #playground-container {
        background: #d89051;
        background-repeat: repeat-x;
        background-size: auto 100%;
        text-align: center;
        position: relative;
    }

.drag:first-child {
    margin-left: 115px;
}
    .drag {
        display: inline-block;
margin-left: 5px;
box-sizing: border-box;
overflow: hidden;
cursor: pointer;
        z-index: 3;
    }

    .drag img {
        vertical-align: top;
    }

    .drag.error div {
        color:white;
        background: #e74c3c;
    }

    .drag div {
        position:relative;
        background: #ecf0f1;
        margin:0;
        padding:0;
        margin-top: -20px;
        height:20px;
        text-align:center;
        font-weight:bold;
        color:black;
        line-height: 20px;
    }

    .slot {
        display: inline-block;
        margin-left: 5px;
        overflow: hidden;
        padding: 0;
        border: 3px solid #5e2a11;
        border-radius: 4px;
        vertical-align: top;
    }

    .slot .drag{
        margin:0;
    }

    .slot>p {
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        color:#333;
        font-size: 26px;
        color: white;
        font-weight: 200;
    }

    .slot.drop {
        background: #e6e6e6;
    }


#bottom-container #btn-bottom-right img {
    margin: 10%;
    width:80%;
    height: 80%;
}

#story-container>.drag {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#music-toggle{
    position: absolute;
    z-index: 999;
    right:20px;
    top:20px;
    background: none;
    border:none;
    padding: 0;
    height: 75px;
    width: 75px;
    cursor: pointer;
}

#music-toggle img{
    height: 100%;
    width: 100%;
}

#btn-menu{
    position: absolute;
z-index: 999;
left: 20px;
top: 2.7px;
background: none;
border: none;
padding: 0;
height: 110px;
width: 110px;
cursor: pointer;
}

#btn-menu img{
    height: 100%;
    width: 100%;
}

#decoration-plane {
    position: absolute;
z-index: 5;
height: 20%;
top: 0;
left: 30%;
}

#decoration-shred-1 {
    position: absolute;
z-index: 0;
top: 0;
left: 68.2%;
height: 50px;
}

#decoration-shred-2 {
position: absolute;
z-index: 0;
bottom: 0;
left: 22.3%;
height: 50px;
}

#decoration-shred-3 {
position: absolute;
z-index: 0;
top: 0;
left: 22.3%;
height: 50px;
}

/* SIZES */


    #story-container #bottom-container {
        height: 150px;
        padding-top:12px;
    }
    
    #bottom-container #btn-bottom-right{
        height: 138px;
        width: 138px;
        border-left: 2px solid #9b5220;
        box-sizing: border-box;
    }   
    
    #elements_container {
        width: 593px;
height: 460px;
margin-top: 50px;
    }

    #answers_container {
        width: calc(100% - 138px);
        padding-top: 5px;
    }

    #playground-container {
        height: calc(100% - 150px);
    }
    
    .drag { 
        margin-top: 12px;
margin-bottom: 31px;
        border-radius: 3px;
        border: 3px solid white;
    }


    .drag img {
        width:115px; height:115px;
    }

    .drag div {
        position: relative;
        background: #f2f2f2;
        margin: 0;
        padding: 0;
        margin-top: -35px;
        height: 30px;
        text-align: center;
        color: black;
        line-height: 30px;
        margin-bottom: 5px;
        width: calc(100% - 10px);
        margin-left: 5px;
        border-radius: 3px;
        font-size: 25px;
        font-weight: 400;
    }

    .slot {
        height: 120px;
    }

    .slot>p {
        line-height: 120px;
    }

    .drop {
        width: 120px;
    }



