body, html {
    background: #ecf0f1;
    font-family: Roboto,Helvetica,Arial;

    width:100vw;
    height:100vh;
    overflow: hidden;
    padding:0;
    margin: 0;
}  

@keyframes splash {
    0% {opacity: 1;visibility: visible;}
    50% {opacity: 1;visibility: visible;}
    99% {opacity: 0;visibility: visible;}
    100% {opacity: 0;visibility: hidden;}

}

#splash-screen{
    position: absolute;
    width:100vw;
    height:100vh;
    background: #ecf0f1;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation-name: splash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#splash-screen img {
    margin-top: calc((50vh - 250px));
}

@keyframes mouth {
    0% {transform: scale(1,1)}
    25% {transform: scale(1,1.2)}
    50% {transform: scale(1,1.1)}
    75% {transform: scale(1,1.3)}
    100% {transform: scale(1,1)}

}

@keyframes jiggle {
    0% {margin-top:0px}
    50% {margin-top:10px}
    100% {margin-top:0px}

}

#narrator{
height: 100%;
overflow: hidden;
width: 50%;
    
}

#narrator img {
    height: 100%;
width: auto;
}

#narrator-face {
    position: relative;
height: 100%;
display: inline-block;
}
#narrator #narrator-mouth {
    width: 15%;
    opacity: 0.5;
    background: black;
    height: 5%;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
    top: 71%;
    left: 44%;
}

#menu-container {
    display: block;
    background: url('../img/background.png');
background-repeat: repeat;
background-size: 500px;
    height: 100vh;
    width: 100vw;
}

#menu-title {
    width:100%;
    text-align:center;
}
#menu-title h1 {
    background: url('../img/ribbon.png') 0% 0% / 100% 100%;
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: text-top;
    padding-bottom: 25px;
}
#menu-buttons {
    padding-left:25px;
    padding-right:25px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 118px);
}

#menu-buttons button {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    animation: jiggle;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#menu-buttons button img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 8;
    top: 49px;
    left: 25px;
    margin-left: 25px;
    border-radius: 10px;
    transform: rotate(5deg);
    box-shadow: 0px 0px 40px 1px white;
}

#menu-buttons button div {
    background: url('../img/cloud.png') 0% 0% / 100% 100%no-repeat;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 130px;
    top: 74px;
    left: 0px;
    line-height: 193px;
    font-size: 20px;
    color: #95a5a6;
}

#game-container {
    display: none;
    width:100vw;
    height:100vh;
}

#game-container #story-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#story-container #top-container {
    height: 130px;
overflow: hidden;
    background: white;
background-repeat: repeat-x;
background-size: auto 100%;
}

#story-container #bottom-container {
        height: 130px;
    width: 100%;
    margin: 0;
    padding: 0;
background: white;
background-repeat: repeat-x;
background-size: auto 100%;
}

#top-container #btn-top-left{
    height: 130px;
position: relative;
float: left;
width: 130px;
    padding:0;
    border: none;
    cursor: pointer;
}

#top-container #btn-top-left img {
    width:100%;
    height: 100%;
}

#bottom-container #btn-bottom-right{
    height: 130px;
position: relative;
float: left;
width: 130px;
    padding:0;
    border: none;
    cursor: pointer;
}

#bottom-container #btn-bottom-right img {
    width:100%;
    height: 100%;
}
/*
#game-container #buttons-container button {
    position: absolute;
    background: #f39c12;
    border: none;
    width:100px;
    height:100px;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: white;
    box-shadow: 0px 3px 0px #d35400;
}*/


#elements_container {
    position: relative;
text-align: left;
width: calc(100% - 130px);
overflow-y: hidden;
overflow-x: auto;
height: 120px;
padding-bottom: 5px;
padding-top: 5px;
white-space: nowrap;
}


#answers_container {
position: relative;
text-align: left;
width: calc(100% - 130px);
height: 130px;
padding-top: 5px;
padding-bottom: 5px;
overflow-y: hidden;
overflow-x: auto;
white-space: nowrap;
    float:left;
}

#playground-container {
    height: calc(100% - 260px);
    background: url('../img/background-playground.png');
background-repeat: repeat-x;
background-size: auto 100%;
}

.drag {
    display:inline-block;
    margin-left:5px;
    box-sizing: border-box;
}

.drag img {
    width:100px; height:100px;
    vertical-align: top;
}

.drag div {
    position:relative;background: #ecf0f1;margin:0;padding:0;height:20px;text-align:center;font-weight:bold;
}

.slot {
    display: inline-block;
height: 120px;
margin-left: 5px;
overflow: hidden;
padding: 0;
}

.slot>p {
line-height: 120px;
vertical-align: text-bottom;
padding: 0;
margin: 0;
font-size: 20px;
padding-left: 10px;
padding-right: 10px;
}

.drop {
    background: #bdc3c7; 
    width: 110px;
}