body, html {
    background: #ecf0f1;
    font-family: Roboto,Helvetica,Arial;

    width:100vw;
    height:100vh;
    overflow: hidden;
    padding:0;
    margin: 0;
}  

@keyframes splash {
    0% {opacity: 1;visibility: visible;}
    50% {opacity: 1;visibility: visible;}
    99% {opacity: 0;visibility: visible;}
    100% {opacity: 0;visibility: hidden;}

}

#splash-screen{
    position: absolute;
    width:100vw;
    height:100vh;
    background: #ecf0f1;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation-name: splash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#splash-screen img {
    margin-top: calc((50vh - 250px));
}

@keyframes mouth {
    0% {height:10px;bottom: 125px;}
    25% {height:30px;bottom:115px;}
    50% {height:20px;bottom:120px;}
    75% {height: 25px;bottom:117px;}
    100% {height:10px;bottom:125x;}

}

#narrator-screen{
    position: absolute;
    width:100vw;
    height:100vh;
    background: #ecf0f1;
    text-align: center;
    z-index: 998;
    overflow: hidden;
    display: none;
}

#narrator-screen img {
    position: absolute;
    bottom:0;
    left: calc(50vw - 250px);
}

#narrator-screen #narrator-mouth {
    width:100px;
    opacity: 0.5;
    background: black;
    height:10px;
    animation-name: mouth;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    position: absolute;
    left:calc(50vw - 45px);
    bottom:125px;
    border-radius: 50%;
}

#menu-container {
    display: block;
}

#menu-title {
    width:100%;
    text-align:center;
}
#menu-title h1 {
    background: url('../img/ribbon.png') 0% 0% / 100% 100%;
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: text-top;
    padding-bottom: 25px;
}
#menu-buttons {
    padding-left:25px;
    padding-right:25px;
}

#menu-buttons button {
    margin:12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background:none;
    width:200px;
    height:200px;
    overflow: hidden;
    padding: 0;
}

#menu-buttons button img {
    width:100%;
    height: 100%;
}

#game-container {
    display: none;
    width:100vw;
    height:100vh;
}

#game-container #buttons-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1
}

#game-container #story-container {
    position: absolute;
    top:0px;
    left:100px;
    width:calc(100vw - 200px);
    z-index: 2;
}

#game-container #buttons-container button {
    position: absolute;
    background: #f39c12;
    border: none;
    width:100px;
    height:100px;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: white;
    box-shadow: 0px 3px 0px #d35400;
}

#game-container #buttons-container button img {
    width:100%;
    height: 100%;
}

#game-container #buttons-container button:hover {

    box-shadow: 0px -3px 0px #d35400;
}

#game-container #buttons-container button#btn-top-left {
    top:10px;
    left:10px;
}

#game-container #buttons-container button#btn-top-right {
    top:10px;
    right:10px;
}

#game-container #buttons-container button#btn-bottom-right{
    bottom:10px;
    right:10px;
}

#elements_container {
    text-align: center;
    width: calc(100% - 40px);
    overflow: hidden;
    min-height: 120px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#answers_container {
    text-align: center;
    background: white;
    width: calc(100% - 40px);
    overflow: hidden;
    min-height: 120px;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.drag {
    display:inline-block;
    margin:5px;
    box-sizing: border-box;
}

.slot {
    display:inline-block;
    width: 110px;
height: 134px;
    margin:5px;
    overflow: hidden;
    padding:0;
}

.slot>p {
    display: inline-block;
height: 100%;
margin: 0;
vertical-align: text-bottom;
margin-top: 100%;
}

.drop {
    background: #bdc3c7; 
}