body, html {
    background: #ecf0f1;
    font-family: Roboto,Helvetica,Arial;
    width:100vw;
    height:100vh;
    overflow: hidden;
    padding:0;
    margin: 0;
}  

button:focus{
    outline:0;
}

@keyframes splash {
    0% {opacity: 1;visibility: visible;}
    50% {opacity: 1;visibility: visible;}
    99% {opacity: 0;visibility: visible;}
    100% {opacity: 0;visibility: hidden;}

}

#splash-screen{
    position: absolute;
    width:100vw;
    height:100vh;
    background: #ecf0f1;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation-name: splash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#splash-screen img {
    margin-top: calc((50vh - 125px));
}

@keyframes mouth {
    0% {transform: scale(1,1)}
    25% {transform: scale(1,1.7)}
    50% {transform: scale(1,1.3)}
    75% {transform: scale(1,2)}
    100% {transform: scale(1,1)}

}

@keyframes jiggle {
    0% {transform: translate(0px,0px);}
    50% {transform: translate(0px,10px);}
    100% {transform: translate(0px,0px);}
}

#narrator{
    height: 100%;
    width:50%;
    float:left;
    overflow: hidden;
    display: inline-block;
}

#narrator img {
    height: 100%;
    width: auto;
}

#narrator-face {
    position: relative;
    height: 100%;
    display: inline-block;
}
#narrator #narrator-mouth {
    width: 15%;
    opacity: 0.5;
    background: black;
    height: 3%;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
    top: 71%;
    left: 44%;
}

#menu-container {
    display: block;
    background: url('../img/background.png');
    background-repeat: repeat;
    background-size: 500px;
    height: 100vh;
    width: 100vw;
}

#menu-container h1 {
    position: absolute;
    background: url('../img/ribbon.png') 0% 0% / 100% 100%;
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: text-top;
    padding-bottom: 25px;
    left: calc(50% - 125px);
    z-index: 998;
}

#menu-buttons {
    padding-left:25px;
    padding-right:25px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100% ;
}

#menu-buttons button {
        display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    animation: jiggle;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#menu-buttons button.disabled {
    opacity: 0.7;
    cursor: default;
}

#menu-buttons button img {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 8;
    top: 49px;
    left: 25px;
    margin-left: 25px;
    border-radius: 10px;
    transform: rotate(5deg);
    box-shadow: 0px 0px 40px 1px white;
}

#menu-buttons button div {
    background: url('../img/cloud.png') 0% 0% / 100% 100%no-repeat;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 125px;
    top: 62px;
    left: 0px;
    line-height: 193px;
    font-size: 20px;
    color: #95a5a6;
}

#game-container {
    display: none;
    width:100vw;
    height:100vh;
}

#game-container #story-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#story-container #top-container {
    overflow: hidden;
    background: url('../img/shelf.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#story-container #bottom-container {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/wood-background.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
}
    
#bottom-container #btn-top-left{
    position: relative;
    float: left;
    padding:0;
    border: none;
    cursor: pointer;
    background: none;
}

#bottom-container #btn-bottom-right{
    position: relative;
    float: left;
    padding:0;
    border: none;
    cursor: pointer;
    background: none;
}

#elements_container {
        position: relative;
text-align: left;

overflow-y: hidden;
overflow-x: auto;
padding-bottom: 5px;
padding-top: 5px;
display: inline-block;
background: url('../img/shelf.png');
background-position: center;
background-size: 100% 33.3%;
    }


    #answers_container {
        position: relative;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        float:left;
    }

    #playground-container {
        //background: url('../img/background-playground.png');
        background: #795c30;
        background-repeat: repeat-x;
        background-size: auto 100%;
        text-align: center;
    }

    .drag {
        display: inline-block;
margin-left: 5px;
box-sizing: border-box;
overflow: hidden;
cursor: pointer;
    }

    .drag img {
        vertical-align: top;
    }

    .drag.error div {
        color:white;
        background: #e74c3c;
    }

    .drag div {
        position:relative;
        background: #ecf0f1;
        margin:0;
        padding:0;
        margin-top: -20px;
        height:20px;
        text-align:center;
        font-weight:bold;
        color:black;
        line-height: 20px;
    }

    .slot {
        display: inline-block;
        margin-left: 5px;
        overflow: hidden;
        padding: 0;
        background: #ecf0f1;
    }

    .slot .drag{
        margin:0;
    }

    .slot>p {
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        color:#333;
        font-weight: bold;
    }

    .slot.drop {
        background: #7f8c8d; 
    }


#bottom-container #btn-top-left img {
    width:100%;
    height: 100%;
}

#bottom-container #btn-bottom-right img {
    width:100%;
    height: 100%;
}

#story-container>.drag {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}



@media only screen and (min-height: 800px) {
    
    #story-container #top-container {
        height: 130px;
    }

    #story-container #bottom-container {
        height: 130px;
    }
    
    #bottom-container #btn-top-left{
        height: 130px;
        width: 130px;
    }
    
    #bottom-container #btn-bottom-right{
        height: 130px;
        width: 130px;
    }
    
    #elements_container {
        //height: 120px;
        width: 382px;
        height: 567px;
        margin-top: calc(50vh - 130px - 219px)
    }

    #answers_container {
        width: calc(100% - 260px);
        height: 130px;
    }

    #playground-container {
        height: calc(100% - 130px);
    }
    
    .drag { 
        margin-top: 9px;
        margin-bottom: 58px;
    }

    .drag img {
        width:120px; height:120px;
    }

    .drag div {
        font-size: 20px;
    }

    .slot {
        height: 120px;
    }
    
    .slot>p {
        line-height: 120px;
        font-size: 20px;
    }
    
    .drop {
        width: 120px;
    }

}

#music-toggle{
    position: absolute;
    z-index: 999;
    right:20px;
    top:20px;
    background: none;
    border:none;
    padding: 0;
    height: 75px;
    width: 75px;
    opacity: 0.5;
    cursor: pointer;
}

#music-toggle img{
    height: 100%;
    width: 100%;
}

@media only screen and (min-height: 500px) and (max-height: 800px) {
    #story-container #top-container {
        height: 90px;
    }

    #story-container #bottom-container {
        height: 90px;
    }
    
    #bottom-container #btn-top-left{
        height: 90px;
        width: 90px;
    } 
    
    #bottom-container #btn-bottom-right{
        height: 90px;
        width: 90px;
    }   
    
    #elements_container {
        //height: 90px;
        width: 263px;
        height: 370px;
        margin-top: calc(50vh - 90px - 140px);
    }

    #answers_container {
        width: calc(100% - 180px);
        height: 90px;
    }

    #playground-container {
        height: calc(100% - 90px);
    }
    
    .drag { 
        margin-top: 2px;
        margin-bottom: 40px;
    }


    .drag img {
        width:80px; height:80px;
    }

    .drag div {
        font-size: 15px;
    }

    .slot {
        height: 80px;
    }

    .slot>p {
        line-height: 80px;
        font-size: 15px;
    }

    .drop {
        width: 80px;
    }
}


@media only screen and (max-height: 500px) {
    #story-container #top-container {
        height: 60px;
    }

    #story-container #bottom-container {
        height: 60px;
    }
    
    #bottom-container #btn-top-left{
        height: 60px;
        width: 60px;
    }
    
    
    #bottom-container #btn-bottom-right{
        height: 60px;
        width: 60px;
    }
    
    
    #elements_container {
        //height: 60px;
        width: 169px;
        height: 300px;
        margin-top:  calc(50vh - 60px - 130px)
    }


    #answers_container {
        width: calc(100% - 120px);
        height: 60px;
    }

    #playground-container {
        height: calc(100% - 60px);
    }
    
    .drag { 
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .drag img {
        width:50px; 
        height:50px;
    }

    .drag div {
        font-size: 10px;
    }

    .slot {
        height: 50px;
    }

    .slot>p {
        line-height: 50px;
    }

    .drop {
        width: 50px;
    }
}

